* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(187, 188, 224);
}

section {
    background-color: rgb(255, 255, 255);
    color: #161616;
    border-radius: 2rem;
    overflow: hidden;
    max-width: 70%;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#container-auth {
    display: flex;
    min-height: 450px;
}

#container-left, #container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#container-left h3, #container-right h3 {
    font-size: 2rem;
    padding: 1rem;
}

#container-left p, #container-right p, #reset-password {
    opacity: 0.8;
    padding: 1rem;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

#links a {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(216, 214, 215);
    padding: 15px;
}

#container-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    outline: none;
}

.login-input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(219, 219, 221);
    width: 100%;
}

.purple-button, #container-right button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 0.8rem;
}

.purple-button:hover, #container-right button:hover {
    background-color: darkviolet;
}

#container-reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#reset-password {
    text-decoration: none;
    color: #161616;
}

#container-right {
    background-color: purple;
    color: white;
}

@media (max-width: 768px) {
    #container-auth {
        flex-direction: column;
    }
    #container-left, #container-right {
        width: 100%;
    }
}
